* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

div	{
	width: 50%;
	margin: auto;
	background-color: lightgrey;
	/*text-align: center;*/
}

h5 {
	padding: 20px;
	border: 5px white solid;
	text-align: center;
	background-color: orange;
}

/*strong {
	background-color: yellow;
	display: border;
}

h1 {
	background-color: red;
	display: border;
}*/