* {
	margin: 0;
}

div {
	padding: 30px;
}

.grandparent {
	background: grey;
	/*position: fixed;*/
	height: 1000px;
/*	top: 50px;
	bottom: 50px;
	right: 50px;
	left: 50px;*/
}

.parent {
	background: lightgrey;
	position: fixed;
	top: 50px;
	bottom: 50px;
	right: 50px;
	left: 50px;
}

p {
	position: static;
	margin-left: 50px;
}

input[name="Submit"] {
	margin-left: 20px;
}

strong {
	background: yellow;
	position: fixed;
	top: 50px;
	left: 50px;
}