/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

/*container*/
.b01 {
	background-color: black;
	width: 700px;
	min-height: 100px;
	padding: 10px;
	margin: 50px auto;
	overflow: auto;
}

#greybox01 {
	width: 150px;
	height: 150px;
	margin: 10px;
	background-color: grey;
	float: left;
}

#greybox02 {
	width: 100%;
	height: 100%;
	background-color: grey;
}

#greybox03 {
	width: 150px;
	height: 150px;
	margin-right: 10px;
	background-color: grey;
	float: left;
}

#greybox04 {
	width: 50px;
	height: 50px;
	background-color: grey;
	float: left;
}

#whiteborderbox {
	width: 150px;
	height: 150px;
	margin: 10px;
	padding: 10px 10px 50px 10px;
	border: 1px solid white;
	float: left;	
}

p {
	color: white;
	text-align: center;
}

h1 {
	color: white;
}

h2 {
	text-align: center;
}

h4 {
	color: white;
	margin-top: 0px;
	padding-top: 0px;
}

#p03 {
	text-align: left;
}

#p04 {
	font-style: italic;
	text-align: left;
	overflow: hidden;
	margin-top: 0px;
	padding-top: 0px;
}

.b04-leftCol {
	width: 20%;
	float: left;
}

.b04-rightCol {
	width: 77%;
	float: right;
}

.b05-leftCol {
	width: 7%;
	float: left;
}

.b05-rightCol {
	width: 92%;
	float: right;
	padding: 0px;
}

.b06-rightCol {
	width: 91%;
	float: right;
	padding: 0px;
}

#commentBox {
	width: 100%;
	min-height: 100px;
	float: left;
	border-style: none;
	padding-top: 0px;
	margin-top: 0px;
}

#replyBox {
	width: 100%;
	min-height: 100px;
	border-left: 1px solid white;
	float: left;
	margin-top: 30px;
	padding: 0px;
}

#button {
	float: right;
	border-style: none;
	/*padding: 0px;
	margin: 0px;*/
}