* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	background-color: #EAEDF0;
}

.page {
	width: 900px;
	margin: auto;
	background: #EAEDF0;
}

.menu {
	height: 100px;
	background-color: #B2D6FF; /*Blue*/
}

.sidebar {
	height: 300px;
	background-color: #F09A9D; /*Red*/
	width: 200px;
	float: left;
}

.content {
	height: 500px;
	width: 650px;
	background-color: #F5CF8E; /*Yellow*/
	float: left;
	padding: 20px;
}

.article-image {
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.footer {
	/*height: 200px;*/
	background-color: #D6E9FE; /*LightBlue*/
	clear: both;
	border: 5px solid red;
}

.clear:after {
	content: ""; /*invisible content*/
	clear: both;
	display: block;
}

p {
	/*padding: 20px;*/
}

.column {
	background-color: #B2D6FF;
	height: 160px;
	width: 31%;
	margin: 20px 1.16%;
	float: left;
}

.avatar {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	background-color: #D6E9FE;
}

.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden;
}